<ion-view style="" title="{{place.name}}">
    <ion-content class="has-header" padding="true">
        <ion-list style="" show-delete="true">
            <ion-item ng-repeat="item in order.items" class="item">
                {{item.name}}
                 <ion-delete-button class="ion-minus-circled" ng-click="destroyOrderItem($index, item)">
            </ion-item>
        </ion-list>
        <button ng-show="order.items" class="button button-balanced button-block">Place Order</button>
    </ion-content>
</ion-view>
