<ion-view style="" title="Login">
    <ion-content class="has-header" padding="true">
        <form style="">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button style="" class="button button-balanced button-block">Log in</button>
            <a style="" class="button button-positive button-clear button-block" href="#/signup">Or create an account</a>
        </form>
    </ion-content>
</ion-view>