<ion-view style="" title="Detail">
    <ion-content class="has-header" padding="true">
        <form style="">
            <div style="" class="list card">
                <div class="item item-divider">{{item.name}}</div>
                <div class="item item-body">
                    <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;"><img src="/images/burrito.png" width="100%">
                        <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
                    </div>
                    <div style="">
                        <p>
                            {{item.description}}
                        </p>
                    </div>
                </div>
            </div>
            <ion-checkbox ng-repeat="option in item.options" ng-model="option.selected" ng-change="updateItemFinalPrice()">{{option.price | price}} {{option.name}}</ion-checkbox>
            <label style="" class="item item-input">
                <span class="input-label">Requests</span><textarea placeholder="Special Instructions"> </textarea>
            </label>
            <button class="button button-positive button-block" ng-click="addToOrder(item)"><span ng-model="item.finalPrice">{{item.finalPrice | price}}</span> Add Item <i class="icon ion-fork"></i></button>
        </form>
    </ion-content>
</ion-view>
