<ion-view style="" title="{{category}}">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item ng-repeat="item in categories[category]" class="item-thumbnail-left" ui-sref="menuDetail({id: placeID, category: category, itemID:$index})">
              <img src="/images/burrito.png">
                <h2>{{item.name}}</h2>
                <h4 class="balanced">{{item.price | price}}</h4>
              <p>{{item.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
