<ion-view style="" title="{{place.name}}">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item ng-repeat="(key, cat) in categories" class="item item-icon-right" ui-sref="menuContent({id: placeID, category: key})">
                {{key}}
                <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>
        <button ng-show="order.items" class="button button-balanced button-block">Place Order</button>
        <button ng-show="order.items" class="button button-balanced button-block" ui-sref="cart({id: placeID})">Cart</button>
    </ion-content>
</ion-view>
