<div style="" class="modal">
    <ion-header-bar style="" class="bar-positive">
        <h1 class="title" style="">Modal</h1>
        <div style="" class="buttons">
            <button style="" class="button button-stable button-clear">Close</button>
        </div>
    </ion-header-bar>
    <ion-content style="" class="has-header" scroll="false" padding="true">
        <ion-list style="">
            <ion-checkbox style="">Option 1</ion-checkbox>
            <ion-checkbox style="">Option 2</ion-checkbox>
        </ion-list>
        <button style="" class="button button-stable button-block">Add Item</button>
    </ion-content>
</div>