<ion-view style="" title="Places">
    <ion-content class="has-header" padding="true">
        <ion-list style="" >
            <ion-item ng-repeat="(key, place) in places" class="item item-icon-right" ui-sref="placeMenu({id:key})">
              {{place.name}} {{place.address}}
              <i class="icon ion-ios7-arrow-right"></i>
            </ion-item>
        </ion-list>
        <button style="" class="button button-stable button-icon button-block">Place Order</button>
    </ion-content>
</ion-view>
