<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="/css/preview-frame.css" rel="stylesheet">
        <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div style="">
    <div style="">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
            <!--<ion-nav-buttons side="right" >
                 <ion-button class="button-icon icon ion-bag">
                     <span class="badge badge-calm">{{order.items.length}}</span>
                 </ion-button>
            </ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>

    </div>
  </div>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/factory.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
  </body>
</html>
